POSTMARK_TOKEN=xyz
DATABASE_URL=postgresql://username:password@url:port/dbname?sslmode=require
DATABASE_POOL_URL=postgresql://username:password@url_pool:port/dbname?sslmode=require
OPENROUTER_API_KEY=sk-or-v1-abc
RAPIDAPI_KEY=aaa
